# 라이브러리 불러오기

In [2]:
import numpy as np
import pandas as pd

# 데이터 불러오기 연습

In [3]:
df_VS = pd.read_csv("Data/Versteuerter Strom.csv", sep=';', encoding='latin1')

In [4]:
df_VS

                                                                                                                                                                                                 Tabelle: 73432-0001
Versteuerter Strom: Deutschland, Jahre             NaN                                 NaN                                               NaN                                                                     NaN
Stromsteuerstatistik                               NaN                                 NaN                                               NaN                                                                     NaN
Deutschland                                        NaN                                 NaN                                               NaN                                                                     NaN
NaN                                                Versteuerter Strom nach §3 StromStG Verst.Strom für den Fahrbetrieb §9 Abs.2 StromStG Verst.Strom für Wasserfahrzeuge §9 Abs.3 StromStG  Stromsteuer Steuerbetrag
                                                   MWh                                 MWh                                               MWh                                                                Tsd. EUR
2012                                               535601813                           12888838                                          7048                                                               11137040
2013                                               517404050                           13062172                                          2922                                                               10757288
2014                                               495474001                           12381019                                          2873                                                               10299535
2015                                               497877641                           12557451                                          4211                                                               10350512
2016                                               497806261                           12710703                                          3546                                                               10350771
2017                                               499995361                           12315942                                          2930                                                               10391802
2018                                               495385588                           12537742                                          2392                                                               10299434
2019                                               482940876                           12619035                                          5927                                                               10044963
2020                                               467406366                           11848127                                          3006                                                                9718174
2021                                               480153659                           11852186                                          3747                                                                9979289
2022                                               466428827                           12973530                                          4924                                                                9710547
2023                                               437566632                           11652561                                          10971                                                               9103748
__________                                         NaN                                 NaN                                               NaN                                                                     NaN
Stromsteuer Steuerbetrag:\nSteuerbetrag ohne Be... NaN                                 NaN                                               NaN                                                                     NaN
© Statistisches Bundesamt (Destatis), 2025         NaN                                 NaN                                               NaN                                                                     NaN
Stand: 23.05.2025 / 21:03:43                       NaN                                 NaN                                               NaN                                                                     NaN

In [5]:
df_StVb = pd.read_csv('Data/1019_Stromverbrauch.csv', sep=';', encoding='windows-1252')

In [6]:
df_StVb.head()

,Jahr,Haushalte,Landwirtschaft,Produzierendes Gewerbe,Dienstleistungen,Summe
0,1990,kein Wert,kein Wert,kein Wert,kein Wert,544
1,1991,188,kein Wert,kein Wert,kein Wert,563
2,1992,kein Wert,kein Wert,kein Wert,kein Wert,550
3,1993,kein Wert,kein Wert,kein Wert,kein Wert,580
4,1994,214,"2,2",138,234,588

# 이하 실제 데이터

In [7]:
# 윗부분은 시험 샘플.
# 아랫부분은 본 데이터(활용할 데이터)

In [8]:
# df_GR = pd.read_csv('Data/german_regions.csv', sep=';', on_bad_lines='skip')
df_GR = pd.read_csv('Data/german_regions.csv')
df_GR

                                                    Tabelle: 11111-0002
Size of territory: Administrative districts            reference date;;
Recording of territorial status;;;                                  NaN
Size of territory (sq km);;;                                        NaN
;;Reference date;                                                   NaN
;;2023-12-31;                                                       NaN
...                                                                 ...
16077;Altenburger Land                               Landkreis;569.42;e
__________                                                          NaN
Size of territory:\nBerlin (1995-2000):\nRelati...                  NaN
© Statistisches Bundesamt (Destatis)                               2025
created: 2025-06-17 / 15:38:01                                      NaN

[485 rows x 1 columns]

## 독일 전기 총 생산량 & 소비량
- 연도별 생산량과 소비량 데이터

In [9]:
# 총 생산량
# x는 연도, y는 생산량(TWh)
df_GPG = pd.read_csv('Data/Gross Power Generation.csv')
df_GPG.head()

            x          y
0  1990.00000  549.63144
1  1990.99270  540.29482
2  1992.02086  538.32922
3  1993.01356  526.53563
4  1994.00626  528.50121

In [10]:
# 총 소비량
# x는 연도, y는 소비량(TWh)
df_GPC = pd.read_csv('Data/Gross Power Counsumption.csv')
df_GPC.head()

            x          y
0  1990.00000  550.61423
1  1990.99270  539.80343
2  1992.02086  532.92382
3  1993.01356  528.00981
4  1994.00626  530.46681

### 데이터 전처리
- 컬럼명 변경
- 년도값 보정(정수 반올림)

In [11]:
# df_GPG(생산량) 전처리

df_GPG.columns

Index(['x', ' y'], dtype='object')

In [12]:
df_GPG.columns = ['Jahr', 'Generation']
df_GPG.columns

Index(['Jahr', 'Generation'], dtype='object')

In [13]:
df_GPG.head(2)

        Jahr  Generation
0  1990.0000   549.63144
1  1990.9927   540.29482

In [14]:
df_GPG['Jahr'] = df_GPG['Jahr'].round().astype(int)
df_GPG.head(2)

   Jahr  Generation
0  1990   549.63144
1  1991   540.29482

#### 전처리 데이터 저장
- Data2 폴더에 저장

In [15]:
# df_GPG.to_csv('Data2/Gross_Power_Generation.csv', index=False)

In [16]:
# df_GPC(소비량) 전처리

df_GPC.columns

Index(['x', ' y'], dtype='object')

In [17]:
df_GPC.columns = ['Jahr', 'Consumption']
df_GPC.head(2)

        Jahr  Consumption
0  1990.0000    550.61423
1  1990.9927    539.80343

In [18]:
df_GPC['Jahr'] = df_GPC['Jahr'].round().astype(int)
df_GPC.head(2)

   Jahr  Consumption
0  1990    550.61423
1  1991    539.80343

#### 전처리 데이터 저장
- Data2 폴더에 저장

In [19]:
# df_GPC.to_csv('Data2/Gross_Power_Consumption.csv', index = False)

## 독일 행정구역 정보
- Data/german_regions_flat.csv
- 데이터 전처리 필요 : 컬럼명 변경, 필요 컬럼 추출

In [20]:
# 독일 행정구역 정보.
# 데이터 전처 필요. 데이터 컬럼명 변경 필요. 데이터 분할 필요(도시 행정구역 구분하는 부분.)
df_GR_Flat = pd.read_csv('Data/german_regions_flat.csv', sep=';')
df_GR_Flat.head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9764,"Memmingen, kreisfreie Stadt",70.11,sq km,FLC006,Size of territory,e
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,3157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
4,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5314,"Bonn, kreisfreie Stadt",141.06,sq km,FLC006,Size of territory,e

In [21]:
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'] == 'Flensburg, kreisfreie Stadt']

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
141,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,1001,"Flensburg, kreisfreie Stadt",56.73,sq km,FLC006,Size of territory,e

In [22]:
# kreisfreie Stadt 찾기
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'].str.contains('kreisfreie Stadt')].head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9764,"Memmingen, kreisfreie Stadt",70.11,sq km,FLC006,Size of territory,e
4,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5314,"Bonn, kreisfreie Stadt",141.06,sq km,FLC006,Size of territory,e
6,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9261,"Landshut, kreisfreie Stadt",65.83,sq km,FLC006,Size of territory,e
13,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5315,"Köln, kreisfreie Stadt",405.02,sq km,FLC006,Size of territory,e
17,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9262,"Passau, kreisfreie Stadt",69.56,sq km,FLC006,Size of territory,e

In [23]:
# kreisfreie Stadt 이외의 데이터 찾기. ~는 부정형이므로 이를 활용.
df_GR_Flat[~df_GR_Flat['1_variable_attribute_label'].str.contains('kreisfreie Stadt')].head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,3157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
5,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9274,"Landshut, Landkreis",1347.55,sq km,FLC006,Size of territory,e
7,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,12064,"Märkisch-Oderland, Landkreis",2158.66,sq km,FLC006,Size of territory,e

In [24]:
# landkreis 찾기
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'].str.contains('Landkreis')].head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,3157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
5,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9274,"Landshut, Landkreis",1347.55,sq km,FLC006,Size of territory,e
7,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,12064,"Märkisch-Oderland, Landkreis",2158.66,sq km,FLC006,Size of territory,e

In [25]:
# bundesland 찾기
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'].str.contains('Bundesland')].head()

Empty DataFrame
Columns: [statistics_code, statistics_label, time_code, time_label, time, 1_variable_code, 1_variable_label, 1_variable_attribute_code, 1_variable_attribute_label, value, value_unit, value_variable_code, value_variable_label, value_q]
Index: []

In [26]:
df_GR_Flat[df_GR_Flat['1_variable_attribute_code']==1001]
# 1_variable_attribute_code 값은 지역코드임을 알 수 있다. 원래는 01001인데, 앞의 0은 생략됨.

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
141,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,1001,"Flensburg, kreisfreie Stadt",56.73,sq km,FLC006,Size of territory,e

In [27]:
# 앞에서 지역코드값의 앞부분 0이 생략된 점을 고려하여 해당 부분을 문자열로 불러와 문제 해결.
# 하지만 이 결과가 추후에 데이터를 다루기 용이한 방법이 될지는 미지수.
df_GR_Flat_1 = pd.read_csv('Data/german_regions_flat.csv', sep=';', dtype={'1_variable_attribute_code':str})
df_GR_Flat_1.head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,09764,"Memmingen, kreisfreie Stadt",70.11,sq km,FLC006,Size of territory,e
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,09777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,05554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,03157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
4,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,05314,"Bonn, kreisfreie Stadt",141.06,sq km,FLC006,Size of territory,e

In [28]:
df_GR_Flat_1['1_variable_code'].unique()

array(['KREISE'], dtype=object)

In [29]:
df_GR_Flat_1['1_variable_label'].unique()

array(['Administrative districts'], dtype=object)

In [30]:
df_GR_Flat_1['time'].unique()

array(['2023-12-31'], dtype=object)

In [31]:
df_GR_Flat_1['value_variable_code'].unique()

array(['FLC006'], dtype=object)

### 데이터 전처리

In [32]:
# 특정 컬럼만 추출
df_GR_Flat_2 = df_GR_Flat_1[['1_variable_attribute_code', '1_variable_attribute_label', 'value']]
df_GR_Flat_2

,1_variable_attribute_code,1_variable_attribute_label,value
0,09764,"Memmingen, kreisfreie Stadt",70.11
1,09777,"Ostallgäu, Landkreis",1394.44
2,05554,"Borken, Landkreis",1420.98
3,03157,"Peine, Landkreis",536.5
4,05314,"Bonn, kreisfreie Stadt",141.06
...,...,...,...
471,13060,"Parchim, Landkreis (until 2011-09-03)",-
472,09363,"Weiden in der Oberpfalz, kreisfreie Stadt",70.57
473,13073,"Vorpommern-Rügen, Landkreis",3215.73
474,15001,"Dessau-Roßlau, kreisfreie Stadt",245.78
475,08415,"Reutlingen, Landkreis",1092.48

In [33]:
# 도시 확인용 : 편입된 도시를 하나 골라 확인해봤다. 참고로 Parchim과 Ludwigslust가 하나로 합쳐져 Ludwigslust-Parchim이 됨.
filtered_df = df_GR_Flat_2[df_GR_Flat_2['1_variable_attribute_label'].str.contains('Ludwigslust|Parchim', na=False)]
filtered_df

,1_variable_attribute_code,1_variable_attribute_label,value
121,13054,"Ludwigslust, Landkreis (until 2011-09-03)",-
391,13076,"Ludwigslust-Parchim, Landkreis",4766.76
471,13060,"Parchim, Landkreis (until 2011-09-03)",-

In [34]:
# 컬럼명 변경
df_GR_Flat_2.columns = ['District_Code', 'District', 'Size']
df_GR_Flat_2.head(2)

  District_Code                     District     Size
0         09764  Memmingen, kreisfreie Stadt    70.11
1         09777         Ostallgäu, Landkreis  1394.44

In [35]:
# District 데이터 분할
df_GR_Flat_2[['District_Name', 'District_Type']] = df_GR_Flat_2['District'].str.split(',', expand=True)
df_GR_Flat_2['District_Name'] = df_GR_Flat_2['District_Name'].str.strip()
df_GR_Flat_2['District_Type'] = df_GR_Flat_2['District_Type'].str.strip()

df_GR_Flat_2

C:\Users\User\AppData\Local\Temp\ipykernel_11984\1740569485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_GR_Flat_2[['District_Name', 'District_Type']] = df_GR_Flat_2['District'].str.split(',', expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_11984\1740569485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_GR_Flat_2[['District_Name', 'District_Type']] = df_GR_Flat_2['District'].str.split(',', expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_11984\1740569485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_GR_Flat_2['District_Name'] = df_GR_Flat_2['District_Name'].str.strip()
C:\Users\User\AppData\Local\Temp\ipykernel_11984\1740569485.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_GR_Flat_2['District_Type'] = df_GR_Flat_2['District_Type'].str.strip()

,District_Code,District,Size,District_Name,District_Type
0,09764,"Memmingen, kreisfreie Stadt",70.11,Memmingen,kreisfreie Stadt
1,09777,"Ostallgäu, Landkreis",1394.44,Ostallgäu,Landkreis
2,05554,"Borken, Landkreis",1420.98,Borken,Landkreis
3,03157,"Peine, Landkreis",536.5,Peine,Landkreis
4,05314,"Bonn, kreisfreie Stadt",141.06,Bonn,kreisfreie Stadt
...,...,...,...,...,...
471,13060,"Parchim, Landkreis (until 2011-09-03)",-,Parchim,Landkreis (until 2011-09-03)
472,09363,"Weiden in der Oberpfalz, kreisfreie Stadt",70.57,Weiden in der Oberpfalz,kreisfreie Stadt
473,13073,"Vorpommern-Rügen, Landkreis",3215.73,Vorpommern-Rügen,Landkreis
474,15001,"Dessau-Roßlau, kreisfreie Stadt",245.78,Dessau-Roßlau,kreisfreie Stadt
475,08415,"Reutlingen, Landkreis",1092.48,Reutlingen,Landkreis

In [36]:
# 필요 없는 컬럼 드랍
df_GR_Flat_3 = df_GR_Flat_2.drop('District', axis=1)
df_GR_Flat_3

,District_Code,Size,District_Name,District_Type
0,09764,70.11,Memmingen,kreisfreie Stadt
1,09777,1394.44,Ostallgäu,Landkreis
2,05554,1420.98,Borken,Landkreis
3,03157,536.5,Peine,Landkreis
4,05314,141.06,Bonn,kreisfreie Stadt
...,...,...,...,...
471,13060,-,Parchim,Landkreis (until 2011-09-03)
472,09363,70.57,Weiden in der Oberpfalz,kreisfreie Stadt
473,13073,3215.73,Vorpommern-Rügen,Landkreis
474,15001,245.78,Dessau-Roßlau,kreisfreie Stadt
475,08415,1092.48,Reutlingen,Landkreis

#### 문제점 분석
- District_Type이 지정되지 않은 지역이 존재.
- District_Type이 Landkreis와 kreisfreie Stadt 모두 포함되는 경우가 존재. 다만 이 경우에는 서로 다른 지역이지만, 자동화 작업시 문제 발생.
- 위의 두 번째 사항의 문제를 해결해야 한다. 이는 이름이 동일하여 Landkreis와 kreisfreie Stadt를 모두 포함하는 경우를 제외한 후, 자동화 작업 실행. 그리고 제외된 경우는 수작업으로 진행.

In [37]:
df_GR_Flat_3[df_GR_Flat_3['District_Name']=='Schwalm-Eder-Kreis']

    District_Code     Size       District_Name District_Type
133         06634  1539.01  Schwalm-Eder-Kreis          None

In [38]:
df_GR_Flat_2[df_GR_Flat_2['District']=='Schwalm-Eder-Kreis']

,District_Code,District,Size,District_Name,District_Type
133,06634,Schwalm-Eder-Kreis,1539.01,Schwalm-Eder-Kreis,None

In [39]:
df_GR_Flat_2[df_GR_Flat_2['District_Name']=='Landshut']

,District_Code,District,Size,District_Name,District_Type
5,09274,"Landshut, Landkreis",1347.55,Landshut,Landkreis
6,09261,"Landshut, kreisfreie Stadt",65.83,Landshut,kreisfreie Stadt

In [40]:
df_GR_Flat_2[df_GR_Flat_2['District_Name']=='Passau']

,District_Code,District,Size,District_Name,District_Type
15,09275,"Passau, Landkreis",1530.1,Passau,Landkreis
17,09262,"Passau, kreisfreie Stadt",69.56,Passau,kreisfreie Stadt

In [41]:
df_GR_Flat_2[df_GR_Flat_2['District_Name'].isin(['Saalekreis', 'Eifelkreis Bitburg-Prüm'])]

,District_Code,District,Size,District_Name,District_Type
9,15088,Saalekreis,1440.45,Saalekreis,None
44,07232,Eifelkreis Bitburg-Prüm,1626.95,Eifelkreis Bitburg-Prüm,None

#### District_Type 누락분 처리
- Landkreis 또는 kreisfreie Stadt

In [42]:
Type_None_Data = df_GR_Flat_3[df_GR_Flat_3['District_Type'].isna()].reset_index(drop=True) # 데이터가 NaN 혹은 None인 경우만 추출
Type_None_Data.head()

  District_Code     Size            District_Name District_Type
0         15088  1440.45               Saalekreis          None
1         07232  1626.95  Eifelkreis Bitburg-Prüm          None
2         05162   576.42        Rhein-Kreis Neuss          None
3         15084  1419.92          Burgenlandkreis          None
4         10045   418.28          Saarpfalz-Kreis          None

In [43]:
# District_Type이 NaN인 데이터의 갯수. 결과는 60개.
Type_None_Data['District_Type'].isna().sum()

np.int64(60)

In [44]:
# 이 자료를 Temp_Data로 저장
# Type_None_Data.to_csv('Temp_Data/Type_None_Data.csv', index=False)

In [45]:
Type_None_Data.head()

  District_Code     Size            District_Name District_Type
0         15088  1440.45               Saalekreis          None
1         07232  1626.95  Eifelkreis Bitburg-Prüm          None
2         05162   576.42        Rhein-Kreis Neuss          None
3         15084  1419.92          Burgenlandkreis          None
4         10045   418.28          Saarpfalz-Kreis          None

In [46]:
sort_Type_None_Data = Type_None_Data.sort_values(by='District_Name').reset_index(drop=True)
sort_Type_None_Data.head()

,District_Code,Size,District_Name,District_Type
0,08425,1358.54,Alb-Donau-Kreis,None
1,15081,2304.44,Altmarkkreis Salzwedel,None
2,15370,-,Altmarkkreis Salzwedel (until 2007-06-30),None
3,08435,664.77,Bodenseekreis,None
4,15084,1419.92,Burgenlandkreis,None

In [47]:
sort_Type_None_Data['District_Name'].value_counts().head() # 도시명 중복이 없다.

District_Name
Alb-Donau-Kreis           1
Altmarkkreis Salzwedel    1
Rems-Murr-Kreis           1
Rhein-Erft-Kreis          1
Rhein-Hunsrück-Kreis      1
Name: count, dtype: int64

In [71]:
df_GR_Flat_3[df_GR_Flat_3['District_Name']=='Würzburg']

    District_Code    Size District_Name     District_Type
63          09679  968.35      Würzburg         Landkreis
166         09663    87.6      Würzburg  kreisfreie Stadt

In [77]:
# District_Type == 'None'인 경우 찾기
temp_df_1 = df_GR_Flat_3[df_GR_Flat_3['District_Type'].isnull()].sort_values(by='District_Name')
temp_df_1.head()

,District_Code,Size,District_Name,District_Type
390,08425,1358.54,Alb-Donau-Kreis,None
125,15081,2304.44,Altmarkkreis Salzwedel,None
301,15370,-,Altmarkkreis Salzwedel (until 2007-06-30),None
96,08435,664.77,Bodenseekreis,None
72,15084,1419.92,Burgenlandkreis,None

In [79]:
# District_Type == 'None'인 경우의 갯수 찾기
temp_df_1['District_Type'].isnull().sum() # 총 60개

np.int64(60)

### 데이터 재처리
- 크롤링을 통해 얻은 데이터프레임을 병합하는 방향으로 1차 처리.
- Bundesland, Regierungsbezirk 항목을 넣을 수 있고, 누락된 District_Type 채울 수 있음.
- 일부 지역(더이상 존재하지 않는 지역)은 District_Type을 수동으로 채워야 함.

In [70]:
# 크롤링하여 정제한 데이터를 불러온다.
crowled_df = pd.read_csv('Temp_Data/German_Districts_with_Regierungsbezirk.csv').drop(columns=['Unnamed: 0'])
crowled_df

,District_Name,District_Type,Bundesland,Regierungsbezirk
0,Aachen,Landkreis,North Rhine-Westphalia,Köln
1,Aachen,kreisfreie Stadt,North Rhine-Westphalia,Köln
2,Ahrweiler,Landkreis,Rhineland-Palatinate,NaN
3,Aichach-Friedberg,Landkreis,Bavaria,Schwaben
4,Alb-Donau-Kreis,Landkreis,Baden-Württemberg,Tübingen
...,...,...,...,...
398,Würzburg,Landkreis,Bavaria,Unterfranken
399,Würzburg,kreisfreie Stadt,Bavaria,Unterfranken
400,Zollernalbkreis,Landkreis,Baden-Württemberg,Tübingen
401,Zweibrücken,kreisfreie Stadt,Rhineland-Palatinate,NaN
402,Zwickau,Landkreis,Saxony,NaN

- 해야 할 것 : 크롤링 결과물을 기존의 데이터 프레임에 결합.
- 'District_Type'에는 누락된 것을 채워넣기.
- 'Bundesland', 'Regierungsbezirk' 컬럼을 결합.
- merge()로 가능한 것일까?

#### 전처리 데이터 저장
- 해당 지역들이 어느 주에 포함되었는지도 알 수 있었으면 좋겠다. 즉, 소속 주 이름 컬럼을 추가해야 한다는 말.

In [49]:
# df_GR_Flat_3.to_csv('Data2/German_Regions.csv', index=False)

## 독일 산업 가치 데이터(지역, 연도별)
- 연도별 산업별 생산량

In [50]:
df_RYIO_Flat = pd.read_csv('Data/region_year_industry_output_Flat.csv', sep=';')
df_RYIO_Flat.head(2)
# Flat 데이터에는 필요한 지역정보가 빠져있다. xlsx 파일에 모든 데이터가 있으니 xlsx 파일을 불러와야 한다.

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,2_variable_code,2_variable_label,2_variable_attribute_code,2_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,82111,Regional accounts (Länder): production approach,JAHR,Year,2015,DINSG,Germany,DG,Germany,WZ08R1,"WZ2008 (Sections, aggregations): Regional acco...",WZ08-A,"Agriculture, forestry and fishing",21872,EUR mn,BWS008,Gross value added at basic prices (current pri...,e
1,82111,Regional accounts (Länder): production approach,JAHR,Year,2016,DINSG,Germany,DG,Germany,WZ08R1,"WZ2008 (Sections, aggregations): Regional acco...",WZ08-G-J,"Trade,transport.,storage,accom.and food serv.,...",591907,EUR mn,BWS008,Gross value added at basic prices (current pri...,e

In [51]:
# 컬럼 확인
df_RYIO_Flat.columns

Index(['statistics_code', 'statistics_label', 'time_code', 'time_label',
       'time', '1_variable_code', '1_variable_label',
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_code', '2_variable_label', '2_variable_attribute_code',
       '2_variable_attribute_label', 'value', 'value_unit',
       'value_variable_code', 'value_variable_label', 'value_q'],
      dtype='object')

In [52]:
df_RYIO_Flat['value_variable_code'].unique()

array(['BWS008'], dtype=object)

In [53]:
df_RYIO_Flat['2_variable_label'].unique()

array(['WZ2008 (Sections, aggregations): Regional accounts'], dtype=object)

- xlsx 파일을 데이터 프레임으로 불러오기

In [54]:
df_RYIO_Ex = pd.read_excel('Data/region_year_industry_output_excel.xlsx', skiprows=3)
df_RYIO_Ex.head(2)

C:\Users\User\Desktop\Projects\NewProject\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,"Year\nWZ2008 (Sections, aggregations)",Unnamed: 1,Unnamed: 2,Länder,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,NaN,NaN,08 Baden-Württemberg,NaN,09 Bayern,NaN,11 Berlin,NaN,12 Brandenburg,...,10 Saarland,NaN,14 Sachsen,NaN,15 Sachsen-Anhalt,NaN,01 Schleswig-Holstein,NaN,16 Thüringen,NaN
1,1991,WZ08-A,"Agriculture, forestry and fishing",2292,e,3585,e,23,e,631,...,60,e,532,e,658,e,1030,e,471,e

- xlsx 다시 불러오기

In [55]:
# 원본 파일 마지막 부분에 데이터 출처 관련 메시지가 있어서 nrows로 그것을 제외.
df_RYIO_Ex2 = pd.read_excel('Data/region_year_industry_output_excel.xlsx', header=[3, 4], nrows=1054)
df_RYIO_Ex2.head(2)

# 전체적으로 필요한 데이터가 잘 뽑혔으나 임의로 생긴 컬럼(예 : Berlin.1, Branenburg.1, Saarland.1 등등...)에 문제가 있다.
# 이렇게 임의로 생긴 컬럼에 포함된 데이터는 데이터의 주석과 같은 의미를 갖고 있으므로 불필요하니 제거하도록 하자.

C:\Users\User\Desktop\Projects\NewProject\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  Year\nWZ2008 (Sections, aggregations)                     \
                     Unnamed: 0_level_1 Unnamed: 1_level_1
0                                1991.0             WZ08-A
1                                   NaN           WZ08-B-F

                                                   Länder  \
                  Unnamed: 2_level_1 08 Baden-Württemberg
0  Agriculture, forestry and fishing                 2292
1                           Industry                98561

                                                                      \
  08 Baden-Württemberg.1 09 Bayern 09 Bayern.1 11 Berlin 11 Berlin.1
0                      e      3585           e        23           e
1                      e     88209           e     15879           e

                  ...                                                    \
  12 Brandenburg  ... 10 Saarland 10 Saarland.1 14 Sachsen 14 Sachsen.1
0            631  ...          60             e        532            e
1           6342  ...        7699             e      12250            e

                                                               \
  15 Sachsen-Anhalt 15 Sachsen-Anhalt.1 01 Schleswig-Holstein
0               658                   e                  1030
1              6985                   e                 13393


  01 Schleswig-Holstein.1 16 Thüringen 16 Thüringen.1
0                       e          471              e
1                       e         5150              e

[2 rows x 35 columns]

In [56]:
# 임의로 생긴 불필요한 컬럼 제거

# columns_to_drop = [col for col in df_RYIO_Ex2.columns if col.endswith('.1')]
# df_RYIO_Ex3 = df_RYIO_Ex2.drop(columns_to_drop)
# df_RYIO_Ex3

# 결과는 오류 발생. 오류의 원인은 멀티인덱스는 튜플 구조로 이루어지기 때문임.

In [57]:
# 멀티 인덱스는 튜플 구조! 이 점을 이용하여 아래와 같이 다시 시도했다.
# 그리고 올바른 결과를 얻었다.

columns_to_drop = [
    col for col in df_RYIO_Ex2.columns
    if isinstance(col, tuple) and col[1] is not None and col[1].endswith('.1')
]
df_RYIO_Ex3 = df_RYIO_Ex2.drop(columns=columns_to_drop, axis=1)
df_RYIO_Ex3

     Year\nWZ2008 (Sections, aggregations)                     \
                        Unnamed: 0_level_1 Unnamed: 1_level_1
0                                   1991.0             WZ08-A
1                                      NaN           WZ08-B-F
2                                      NaN           WZ08-B-E
3                                      NaN             WZ08-B
4                                      NaN             WZ08-C
...                                    ...                ...
1049                                   NaN           WZ08-R-T
1050                                   NaN             WZ08-R
1051                                   NaN             WZ08-S
1052                                   NaN             WZ08-T
1053                                   NaN                NaN

                                                                      Länder  \
                                     Unnamed: 2_level_1 08 Baden-Württemberg
0                     Agriculture, forestry and fishing                 2292
1                                              Industry                98561
2                         Industry, except construction                85480
3                                  Mining and quarrying                  ...
4                                         Manufacturing                80598
...                                                 ...                  ...
1049  Arts,entertainm.,recreation,o.service act.,pri...                  ...
1050                 Arts, entertainment and recreation                  ...
1051                           Other service activities                  ...
1052                                 Private households                  ...
1053                                              Total               588934

                                                                        \
     09 Bayern 11 Berlin 12 Brandenburg 04 Bremen 02 Hamburg 06 Hessen
0         3585        23            631        43         80       977
1        88209     15879           6342      5928      12147     44378
2        73102     11937           4249      5125       9871     37753
3          ...       ...            ...       ...        ...       ...
4        67291     10571           1709      4497       8766     34960
...        ...       ...            ...       ...        ...       ...
1049       ...       ...            ...       ...        ...       ...
1050       ...       ...            ...       ...        ...       ...
1051       ...       ...            ...       ...        ...       ...
1052       ...       ...            ...       ...        ...       ...
1053    716986    187541          88346     37459     146600    333582

                                                                        \
     13 Mecklenburg-Vorpommern 03 Niedersachsen 05 Nordrhein-Westfalen
0                          716             2649                   1986
1                         3828            47858                 132588
2                         2424            39680                 115101
3                          ...              ...                    ...
4                         1944            34914                  99469
...                        ...              ...                    ...
1049                       ...              ...                    ...
1050                       ...              ...                    ...
1051                       ...              ...                    ...
1052                       ...              ...                    ...
1053                     55472           345329                 789684

                                                                  \
     07 Rheinland-Pfalz 10 Saarland 14 Sachsen 15 Sachsen-Anhalt
0                  1297          60        532               658
1                 28408        7699      12250              6985
2                 24044        6713       8403              4322
3                   ...         ...        ...               ...
4                 21916        5518       5519              2888
...                 ...         ...        ...               ...
1049                ...         ...        ...               ...
1050                ...         ...        ...               ...
1051                ...         ...        ...               ...
1052                ...         ...        ...               ...
1053             166695       38574     146649             71935


     01 Schleswig-Holstein 16 Thüringen
0                     1030          471
1                    13393         5150
2                    10871         3027
3                      ...          ...
4                     9100         2263
...                    ...          ...
1049                   ...          ...
1050                   ...          ...
1051                   ...          ...
1052                   ...          ...
1053                114874        70784

[1054 rows x 19 columns]

In [58]:
# 멀티 인덱스는 튜플을 이용하여 슬라이싱 할 수 있다.
df_RYIO_Ex3[('Year\nWZ2008 (Sections, aggregations)', 'Unnamed: 0_level_1')].unique()

array([1991.,   nan, 1992., 1993., 1994., 1995., 1996., 1997., 1998.,
       1999., 2000., 2001., 2002., 2003., 2004., 2005., 2006., 2007.,
       2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015., 2016.,
       2017., 2018., 2019., 2020., 2021., 2022., 2023., 2024.])

## 독일 산업 가치 데이터2(연도별 데이터)
- 독일 전역 데이터이므로 세분화된 데이터는 앞의 '독일 산업 가치 데이터(지역, 연도별)'를 이용.

In [59]:
df_DYEO_Flat = pd.read_csv('Data/de_yearly_industry_output_Flat.csv', sep=';')
df_DYEO_Flat.head(2)
# 데이터 필요시 xslx 데이터를 불러오는 것이 정리하기 편할 것

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,2_variable_code,2_variable_label,2_variable_attribute_code,2_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,82111,Regional accounts (Länder): production approach,JAHR,Year,2015,DINSG,Germany,DG,Germany,WZ08R1,"WZ2008 (Sections, aggregations): Regional acco...",WZ08-A,"Agriculture, forestry and fishing",21872,EUR mn,BWS008,Gross value added at basic prices (current pri...,e
1,82111,Regional accounts (Länder): production approach,JAHR,Year,2016,DINSG,Germany,DG,Germany,WZ08R1,"WZ2008 (Sections, aggregations): Regional acco...",WZ08-G-J,"Trade,transport.,storage,accom.and food serv.,...",591907,EUR mn,BWS008,Gross value added at basic prices (current pri...,e

## 행정구역별 인구
- 지역별, 연도

In [60]:
df_PbA = pd.read_csv('Data/population_by_admin.csv')
df_PbA.head()
# 이것은 xlsx 파일을 통해 불러와야 할 듯 싶다.

                                                      Tabelle: 12411-0015
Population: Administrative districts                 reference date;;;;;;
Current updating of population figures;;;;;;;;;;;                     NaN
Population (number);;;;;;;;;;;                                        NaN
;;Reference date;;;;;;;;;                                             NaN
;;2019-12-31;;2020-12-31;;2021-12-31;;2022-12-3...                    NaN

- xlsx 파일로 불러오기

In [61]:
df_PbA_Ex = pd.read_excel('Data/population_by_admin_excel.xlsx', header=[3, 4], nrows=476)
df_PbA_Ex.head(2)

C:\Users\User\Desktop\Projects\NewProject\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  Administrative districts                              Reference date  \
        Unnamed: 0_level_1           Unnamed: 1_level_1     1995-12-31
0                     1001  Flensburg, kreisfreie Stadt          87276
1                     1002       Kiel, kreisfreie Stadt         246033

                                                                           \
  1995-12-31.1 1996-12-31 1996-12-31.1 1997-12-31 1997-12-31.1 1998-12-31
0            e      86630            e      85547            e      84742
1            e     243728            e     240516            e     237337

                ...                                                  \
  1998-12-31.1  ... 2020-12-31 2020-12-31.1 2021-12-31 2021-12-31.1
0            e  ...      89934            e      91113            e
1            e  ...     246601            e     246243            e


  2022-12-31 2022-12-31.1 2023-12-31 2023-12-31.1 2024-12-31 2024-12-31.1
0      96217            e      96431            e      96326            e
1     250064            e     251751            e     252668            e

[2 rows x 62 columns]

In [62]:
# 이제 불필요한 값을 갖는 컬럼을 제거한다.
# 불필요한 값을 갖는 컬럼 : 컬럼명에 .1이 붙는 추가컬럼.
# 컬럼의 기본 자료형은 리스트. 그래서 컬럼 수정에는 리스트 컴프리핸션이 유용할 수 있다.
# 또한 멀티 인덱스형 컬럼은 튜플을 인덱스로 갖는 리스트.

columns_to_drop1 = [
    col for col in df_PbA_Ex.columns
    if isinstance(col, tuple) and col[1] is not None and col[1].endswith('.1')
]
df_PbA_Ex2 = df_PbA_Ex.drop(columns=columns_to_drop1, axis=1)
df_PbA_Ex2

    Administrative districts                                 Reference date  \
          Unnamed: 0_level_1              Unnamed: 1_level_1     1995-12-31
0                       1001     Flensburg, kreisfreie Stadt          87276
1                       1002          Kiel, kreisfreie Stadt         246033
2                       1003        Lübeck, kreisfreie Stadt         216986
3                       1004    Neumünster, kreisfreie Stadt          82028
4                       1051         Dithmarschen, Landkreis         133428
..                       ...                             ...            ...
471                    16073  Saalfeld-Rudolstadt, Landkreis         139040
472                    16074            Saale-Holzland-Kreis          92226
473                    16075                Saale-Orla-Kreis         102247
474                    16076                Greiz, Landkreis         127536
475                    16077     Altenburger Land, Landkreis         120655

                                                                       \
    1996-12-31 1997-12-31 1998-12-31 1999-12-31 2000-12-31 2001-12-31
0        86630      85547      84742      84449      84281      84480
1       243728     240516     237337     233795     232612     232242
2       215673     215376     214017     213326     213399     213496
3        81796      81322      80803      80243      79831      79646
4       134927     135773     136547     136920     137174     137447
..         ...        ...        ...        ...        ...        ...
471     138529     137282     135425     134307     132885     131015
472      92901      93551      93847      93679      93929      93404
473     101598     101185     100472      99651      98592      97568
474     127186     126815     126137     125156     123869     122459
475     119359     118487     117143     115689     114200     112421

                ...                                                         \
    2002-12-31  ... 2015-12-31 2016-12-31 2017-12-31 2018-12-31 2019-12-31
0        84704  ...      85942      87432      88519      89504      90164
1       233270  ...     246306     247441     247943     247548     246794
2       213301  ...     216253     216712     216318     217198     216530
3        79544  ...      79197      79680      79335      79487      80196
4       137447  ...     132917     133560     133447     133210     133193
..         ...  ...        ...        ...        ...        ...        ...
471     129610  ...     109278     108315     107368     106356     103199
472      92969  ...      86184      84525      82990      83051      82950
473      96607  ...      82951      82362      81501      80868      80312
474     121129  ...     101114      99717      99275      98159      97398
475     110887  ...      92344      91607      90650      90118      89393


    2020-12-31 2021-12-31 2022-12-31 2023-12-31 2024-12-31
0        89934      91113      96217      96431      96326
1       246601     246243     250064     251751     252668
2       215846     216277     216097     217061     216889
3        79905      79496      78858      79461      79809
4       133251     133969     133104     133514     133460
..         ...        ...        ...        ...        ...
471     102139     100969     101556     101111     100105
472      82816      82513      83595      84040      83342
473      79632      79030      78404      77859      77341
474      96668      96102      95281      94488      93707
475      88356      87807      88034      87955      87508

[476 rows x 32 columns]

## 행정구역별 연령대별 인구
- 연령대가 추가되어 노동인구를 더 상세히 가늠할 수 있다.

In [63]:
# 아무래도 xlsx 파일을 불러와야 할 듯 싶다.
df_AAP = pd.read_csv('Data/admin_age_population.csv')
df_AAP.head(2)

                                                      Tabelle: 12411-0017
Population: Administrative districts reference date  ;;;;;;;;;;;;;;;;;;;;
age groups;;;;;;;;;;;;;;;;;;;;       NaN                              NaN

In [64]:
df_AAP_Ex = pd.read_excel('Data/admin_age_population_excel.xlsx', header=[3, 4], nrows = 14280)
df_AAP_Ex.head(2)

C:\Users\User\Desktop\Projects\NewProject\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  Administrative districts                                                  \
        Unnamed: 0_level_1 Unnamed: 1_level_1           Unnamed: 2_level_1
0               1995-12-31               1001  Flensburg, kreisfreie Stadt
1                      NaN               1002       Kiel, kreisfreie Stadt

     Age groups                                                          \
  under 3 years under 3 years.1 3 to under 6 years 3 to under 6 years.1
0          2648               e               2889                    e
1          6929               e               7195                    e

                                                                  ...  \
  6 to under 10 years 6 to under 10 years.1 10 to under 15 years  ...
0                3632                     e                 3877  ...
1                8541                     e                 9320  ...

                                                                    \
  55 to under 60 years 55 to under 60 years.1 60 to under 65 years
0                 6290                      e                 4291
1                16251                      e                11124

                                                                      \
  60 to under 65 years.1 65 to under 75 years 65 to under 75 years.1
0                      e                 8166                      e
1                      e                20801                      e


  75 years and over 75 years and over.1   Total Total.1
0              7061                   e   87276       e
1             19633                   e  246033       e

[2 rows x 39 columns]

In [65]:
# 불필요 컬럼 제거 : 임의로 .1이 붙은 컬럼들.
columns_to_drop2 = [
    col for col in df_AAP_Ex.columns
    if isinstance(col, tuple) and col[1] is not None and col[1].endswith('.1')
]
df_AAP_Ex2 = df_AAP_Ex.drop(columns=columns_to_drop2, axis=1)
df_AAP_Ex2

      Administrative districts                     \
            Unnamed: 0_level_1 Unnamed: 1_level_1
0                   1995-12-31               1001
1                          NaN               1002
2                          NaN               1003
3                          NaN               1004
4                          NaN               1051
...                        ...                ...
14275                      NaN              16073
14276                      NaN              16074
14277                      NaN              16075
14278                      NaN              16076
14279                      NaN              16077

                                         Age groups                     \
                   Unnamed: 2_level_1 under 3 years 3 to under 6 years
0         Flensburg, kreisfreie Stadt          2648               2889
1              Kiel, kreisfreie Stadt          6929               7195
2            Lübeck, kreisfreie Stadt          6194               6444
3        Neumünster, kreisfreie Stadt          2672               2837
4             Dithmarschen, Landkreis          4345               4670
...                               ...           ...                ...
14275  Saalfeld-Rudolstadt, Landkreis          1711               2133
14276            Saale-Holzland-Kreis          1429               1948
14277                Saale-Orla-Kreis          1334               1755
14278                Greiz, Landkreis          1632               2049
14279     Altenburger Land, Landkreis          1405               1875

                                                                     \
      6 to under 10 years 10 to under 15 years 15 to under 18 years
0                    3632                 3877                 2347
1                    8541                 9320                 5639
2                    8142                 9200                 5748
3                    3700                 3921                 2362
4                    6164                 7278                 4295
...                   ...                  ...                  ...
14275                3443                 4504                 2539
14276                3209                 4015                 2311
14277                2771                 3684                 2106
14278                3251                 4172                 2504
14279                2984                 3895                 2314

                                                 ...                       \
      18 to under 20 years 20 to under 25 years  ... 30 to under 35 years
0                     1837                 6239  ...                 7376
1                     4263                18197  ...                25677
2                     4107                13561  ...                18548
3                     1726                 5122  ...                 6856
4                     2895                 7658  ...                10242
...                    ...                  ...  ...                  ...
14275                 1552                 3771  ...                 3600
14276                 1390                 3398  ...                 3144
14277                 1232                 3013  ...                 2764
14278                 1491                 3187  ...                 2985
14279                 1471                 3235  ...                 3124

                                                                      \
      35 to under 40 years 40 to under 45 years 45 to under 50 years
0                     5925                 5286                 5243
1                    19162                15420                14337
2                    15173                13329                13254
3                     5670                 5011                 5028
4                     9403                 8558                 8198
...                    ...                  ...                  ...
14275                 6170                 6420                 5658
14276                 5535                 5796                 4969
14277                 4796                 5024                 4582
14278                 5469                 5821                 5354
14279                 5188                 5452                 4786

                                                                      \
      50 to under 55 years 55 to under 60 years 60 to under 65 years
0                     5378                 6290                 4291
1                    14824                16251                11124
2                    13956                16561                12081
3                     5358                 6263                 4261
4                     8031                10358                 7722
...                    ...                  ...                  ...
14275                 6393                 7972                 9546
14276                 5298                 6684                 7441
14277                 5179                 6270                 7309
14278                 5903                 7705                 9028
14279                 5745                 7201                 7774


      65 to under 75 years 75 years and over   Total
0                     8166              7061   87276
1                    20801             19633  246033
2                    22270             19095  216986
3                     7865              6279   82028
4                    13171              9888  133428
...                    ...               ...     ...
14275                16385             14997  100105
14276                12811             11072   83342
14277                12645             10262   77341
14278                16215             14108   93707
14279                14473             13787   87508

[14280 rows x 21 columns]

## 지역별 산업별 취업자/직원

In [66]:
# csv 파일로 불러오면 오류가 있다. 그러므로 xlsx 파일로 불러온다.
# 그리고 이번엔 멀티인덱스가 아니다 : header로 컬럼을 정할수도 있는데, 조심해야 한다.
# 근데 이번엔 인덱스가 조금 어지럽다.
# 이전에는 컬럼이 멀티 인덱스형이었으나, 이번에는 인덱스(행)가 멀티 인덱스형.
df_RIE = pd.read_excel('Data/region_industry_employment_excel.xlsx', header=[2], nrows=1488)
df_RIE

C:\Users\User\Desktop\Projects\NewProject\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,"Länder\nWZ2008 (Sections, aggregations)\nPersons in employment (domestic concept)\nEmployees (domestic concept)\nSelf-employed persons a. family workers (domestic)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unit,1991,Unnamed: 6,1992,Unnamed: 8,1993,...,2020,Unnamed: 64,2021,Unnamed: 66,2022,Unnamed: 68,2023,Unnamed: 70,2024,Unnamed: 72
0,Baden-Württemberg,WZ08-A,"Agriculture, forestry and fishing",Persons in employment (domestic concept),1000,133.3,e,130,e,125.6,...,68.4,e,66.0,p,65.0,p,65.0,p,65.2,p
1,NaN,NaN,NaN,Employees (domestic concept),1000,28.1,e,29.5,e,28.9,...,38.8,e,39.4,p,39.8,p,38.7,p,38.7,p
2,NaN,NaN,NaN,Self-employed persons a. family workers (domes...,1000,105.2,e,100.5,e,96.7,...,29.7,e,26.6,p,25.2,p,26.3,p,26.5,p
3,NaN,WZ08-B-F,Industry,Persons in employment (domestic concept),1000,2143.6,e,2121.4,e,2011.3,...,1915.3,e,1895.8,p,1906.1,p,1926.1,p,1914,p
4,NaN,NaN,NaN,Employees (domestic concept),1000,2051.4,e,2025.1,e,1911.6,...,1813.3,e,1795.5,p,1809.2,p,1831.3,p,1820.6,p
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,NaN,NaN,NaN,Employees (domestic concept),1000,.,NaN,.,NaN,.,...,8.0,e,8.2,p,8.2,p,8.4,p,...,NaN
1484,NaN,NaN,NaN,Self-employed persons a. family workers (domes...,1000,.,NaN,.,NaN,.,...,0.0,e,0.0,p,0.0,p,0.0,p,...,NaN
1485,NaN,NaN,Total,Persons in employment (domestic concept),1000,1227.6,e,1046.6,e,1024.1,...,1028.8,e,1022.4,p,1026.8,p,1026.1,p,1017.8,p
1486,NaN,NaN,NaN,Employees (domestic concept),1000,1158.5,e,973.4,e,943.5,...,933.1,e,929.7,p,936.7,p,936.4,p,929.9,p
1487,NaN,NaN,NaN,Self-employed persons a. family workers (domes...,1000,69.1,e,73.2,e,80.6,...,95.7,e,92.7,p,90.1,p,89.6,p,87.9,p

## 지역별 산업별 직원 규모

In [67]:
# xslx 파일로 불러와야 한다.
# 이게 데이터가 2019년부터 있기 때문에, 이 자료를 이용하고자 한다면 다른 자료들도 2019년부터 시작해야 한다.
# 그런데 2019년부터 자료가 있다면 자료의 양이 너무 적다. 고작 5년 분량이니...
# 그렇다면 이 데이터는 제외하고, 앞의 연령대별 데이터를 이용해야 할 것 같다.
# 그리고 꼭 이 데이터가 아니더라도 앞의 지역별 산업별 연도별 취업자/직원 수 데이터를 이용하면 된다. 그것도 산업의 규모를 나타내니.

df_RIS = pd.read_csv('Data/region_industry_structure.csv')
df_RIS.head(2)

                                                   Tabelle: 42311-0004
Persons employed in the iron and steel industry...                  ;;
months (until 2009);;                                              NaN