In [1]:
import numpy as np
import pandas as pd

In [15]:
df_VS = pd.read_csv("Data/Versteuerter Strom.csv", sep=';', encoding='latin1')

In [16]:
df_VS

                                                                                                                                                                                                 Tabelle: 73432-0001
Versteuerter Strom: Deutschland, Jahre             NaN                                 NaN                                               NaN                                                                     NaN
Stromsteuerstatistik                               NaN                                 NaN                                               NaN                                                                     NaN
Deutschland                                        NaN                                 NaN                                               NaN                                                                     NaN
NaN                                                Versteuerter Strom nach §3 StromStG Verst.Strom für den Fahrbetrieb §9 Abs.2 StromStG Verst.Strom für Wasserfahrzeuge §9 Abs.3 StromStG  Stromsteuer Steuerbetrag
                                                   MWh                                 MWh                                               MWh                                                                Tsd. EUR
2012                                               535601813                           12888838                                          7048                                                               11137040
2013                                               517404050                           13062172                                          2922                                                               10757288
2014                                               495474001                           12381019                                          2873                                                               10299535
2015                                               497877641                           12557451                                          4211                                                               10350512
2016                                               497806261                           12710703                                          3546                                                               10350771
2017                                               499995361                           12315942                                          2930                                                               10391802
2018                                               495385588                           12537742                                          2392                                                               10299434
2019                                               482940876                           12619035                                          5927                                                               10044963
2020                                               467406366                           11848127                                          3006                                                                9718174
2021                                               480153659                           11852186                                          3747                                                                9979289
2022                                               466428827                           12973530                                          4924                                                                9710547
2023                                               437566632                           11652561                                          10971                                                               9103748
__________                                         NaN                                 NaN                                               NaN                                                                     NaN
Stromsteuer Steuerbetrag:\nSteuerbetrag ohne Be... NaN                                 NaN                                               NaN                                                                     NaN
© Statistisches Bundesamt (Destatis), 2025         NaN                                 NaN                                               NaN                                                                     NaN
Stand: 23.05.2025 / 21:03:43                       NaN                                 NaN                                               NaN                                                                     NaN

In [12]:
df_StVb = pd.read_csv('Data/1019_Stromverbrauch.csv', sep=';', encoding='windows-1252')

In [14]:
df_StVb.head()

,Jahr,Haushalte,Landwirtschaft,Produzierendes Gewerbe,Dienstleistungen,Summe
0,1990,kein Wert,kein Wert,kein Wert,kein Wert,544
1,1991,188,kein Wert,kein Wert,kein Wert,563
2,1992,kein Wert,kein Wert,kein Wert,kein Wert,550
3,1993,kein Wert,kein Wert,kein Wert,kein Wert,580
4,1994,214,"2,2",138,234,588