In [1]:
import numpy as np
import pandas as pd

In [4]:
df_VS = pd.read_csv("Data/Versteuerter Strom.csv", sep=';', encoding='latin1')

In [5]:
df_VS

                                                                                                                                                                                                 Tabelle: 73432-0001
Versteuerter Strom: Deutschland, Jahre             NaN                                 NaN                                               NaN                                                                     NaN
Stromsteuerstatistik                               NaN                                 NaN                                               NaN                                                                     NaN
Deutschland                                        NaN                                 NaN                                               NaN                                                                     NaN
NaN                                                Versteuerter Strom nach §3 StromStG Verst.Strom für den Fahrbetrieb §9 Abs.2 StromStG Verst.Strom für Wasserfahrzeuge §9 Abs.3 StromStG  Stromsteuer Steuerbetrag
                                                   MWh                                 MWh                                               MWh                                                                Tsd. EUR
2012                                               535601813                           12888838                                          7048                                                               11137040
2013                                               517404050                           13062172                                          2922                                                               10757288
2014                                               495474001                           12381019                                          2873                                                               10299535
2015                                               497877641                           12557451                                          4211                                                               10350512
2016                                               497806261                           12710703                                          3546                                                               10350771
2017                                               499995361                           12315942                                          2930                                                               10391802
2018                                               495385588                           12537742                                          2392                                                               10299434
2019                                               482940876                           12619035                                          5927                                                               10044963
2020                                               467406366                           11848127                                          3006                                                                9718174
2021                                               480153659                           11852186                                          3747                                                                9979289
2022                                               466428827                           12973530                                          4924                                                                9710547
2023                                               437566632                           11652561                                          10971                                                               9103748
__________                                         NaN                                 NaN                                               NaN                                                                     NaN
Stromsteuer Steuerbetrag:\nSteuerbetrag ohne Be... NaN                                 NaN                                               NaN                                                                     NaN
© Statistisches Bundesamt (Destatis), 2025         NaN                                 NaN                                               NaN                                                                     NaN
Stand: 23.05.2025 / 21:03:43                       NaN                                 NaN                                               NaN                                                                     NaN

In [6]:
df_StVb = pd.read_csv('Data/1019_Stromverbrauch.csv', sep=';', encoding='windows-1252')

In [7]:
df_StVb.head()

,Jahr,Haushalte,Landwirtschaft,Produzierendes Gewerbe,Dienstleistungen,Summe
0,1990,kein Wert,kein Wert,kein Wert,kein Wert,544
1,1991,188,kein Wert,kein Wert,kein Wert,563
2,1992,kein Wert,kein Wert,kein Wert,kein Wert,550
3,1993,kein Wert,kein Wert,kein Wert,kein Wert,580
4,1994,214,"2,2",138,234,588

## 이하 실제 데이터

In [8]:
# 윗부분은 시험 샘플.
# 아랫부분은 본 데이터(활용할 데이터)

In [9]:
# df_GR = pd.read_csv('Data/german_regions.csv', sep=';', on_bad_lines='skip')
df_GR = pd.read_csv('Data/german_regions.csv')
df_GR

                                                    Tabelle: 11111-0002
Size of territory: Administrative districts            reference date;;
Recording of territorial status;;;                                  NaN
Size of territory (sq km);;;                                        NaN
;;Reference date;                                                   NaN
;;2023-12-31;                                                       NaN
...                                                                 ...
16077;Altenburger Land                               Landkreis;569.42;e
__________                                                          NaN
Size of territory:\nBerlin (1995-2000):\nRelati...                  NaN
© Statistisches Bundesamt (Destatis)                               2025
created: 2025-06-17 / 15:38:01                                      NaN

[485 rows x 1 columns]

### 독일 전기 총 생산량 & 소비량
- 연도별 생산량과 소비량 데이터

In [3]:
# 총 생산량
# x는 연도, y는 생산량(TWh)
df_GPG = pd.read_csv('Data/Gross Power Generation.csv')
df_GPG.head()

            x          y
0  1990.00000  549.63144
1  1990.99270  540.29482
2  1992.02086  538.32922
3  1993.01356  526.53563
4  1994.00626  528.50121

In [4]:
# 총 소비량
# x는 연도, y는 소비량(TWh)
df_GPC = pd.read_csv('Data/Gross Power Counsumption.csv')
df_GPC.head()

            x          y
0  1990.00000  550.61423
1  1990.99270  539.80343
2  1992.02086  532.92382
3  1993.01356  528.00981
4  1994.00626  530.46681

### 독일 행정구역 정보
- Data/german_regions_flat.csv
- 데이터 전처리 필요 : 컬럼명 변경, 필요 컬럼 추출

In [10]:
# 독일 행정구역 정보.
# 데이터 전처 필요. 데이터 컬럼명 변경 필요. 데이터 분할 필요(도시 행정구역 구분하는 부분.)
df_GR_Flat = pd.read_csv('Data/german_regions_flat.csv', sep=';')
df_GR_Flat.head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9764,"Memmingen, kreisfreie Stadt",70.11,sq km,FLC006,Size of territory,e
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,3157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
4,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5314,"Bonn, kreisfreie Stadt",141.06,sq km,FLC006,Size of territory,e

In [11]:
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'] == 'Flensburg, kreisfreie Stadt']

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
141,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,1001,"Flensburg, kreisfreie Stadt",56.73,sq km,FLC006,Size of territory,e

In [12]:
# kreisfreie Stadt 찾기
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'].str.contains('kreisfreie Stadt')].head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9764,"Memmingen, kreisfreie Stadt",70.11,sq km,FLC006,Size of territory,e
4,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5314,"Bonn, kreisfreie Stadt",141.06,sq km,FLC006,Size of territory,e
6,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9261,"Landshut, kreisfreie Stadt",65.83,sq km,FLC006,Size of territory,e
13,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5315,"Köln, kreisfreie Stadt",405.02,sq km,FLC006,Size of territory,e
17,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9262,"Passau, kreisfreie Stadt",69.56,sq km,FLC006,Size of territory,e

In [13]:
# kreisfreie Stadt 이외의 데이터 찾기. ~는 부정형이므로 이를 활용.
df_GR_Flat[~df_GR_Flat['1_variable_attribute_label'].str.contains('kreisfreie Stadt')].head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,3157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
5,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9274,"Landshut, Landkreis",1347.55,sq km,FLC006,Size of territory,e
7,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,12064,"Märkisch-Oderland, Landkreis",2158.66,sq km,FLC006,Size of territory,e

In [14]:
# landkreis 찾기
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'].str.contains('Landkreis')].head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,5554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,3157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
5,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,9274,"Landshut, Landkreis",1347.55,sq km,FLC006,Size of territory,e
7,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,12064,"Märkisch-Oderland, Landkreis",2158.66,sq km,FLC006,Size of territory,e

In [15]:
# bundesland 찾기
df_GR_Flat[df_GR_Flat['1_variable_attribute_label'].str.contains('Bundesland')].head()

Empty DataFrame
Columns: [statistics_code, statistics_label, time_code, time_label, time, 1_variable_code, 1_variable_label, 1_variable_attribute_code, 1_variable_attribute_label, value, value_unit, value_variable_code, value_variable_label, value_q]
Index: []

In [16]:
df_GR_Flat[df_GR_Flat['1_variable_attribute_code']==1001]
# 1_variable_attribute_code 값은 지역코드임을 알 수 있다. 원래는 01001인데, 앞의 0은 생략됨.

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
141,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,1001,"Flensburg, kreisfreie Stadt",56.73,sq km,FLC006,Size of territory,e

In [17]:
# 앞에서 지역코드값의 앞부분 0이 생략된 점을 고려하여 해당 부분을 문자열로 불러와 문제 해결.
# 하지만 이 결과가 추후에 데이터를 다루기 용이한 방법이 될지는 미지수.
df_GR_Flat_1 = pd.read_csv('Data/german_regions_flat.csv', sep=';', dtype={'1_variable_attribute_code':str})
df_GR_Flat_1.head()

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,09764,"Memmingen, kreisfreie Stadt",70.11,sq km,FLC006,Size of territory,e
1,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,09777,"Ostallgäu, Landkreis",1394.44,sq km,FLC006,Size of territory,e
2,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,05554,"Borken, Landkreis",1420.98,sq km,FLC006,Size of territory,e
3,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,03157,"Peine, Landkreis",536.5,sq km,FLC006,Size of territory,e
4,11111,Recording of territorial status,STAG,Reference date,2023-12-31,KREISE,Administrative districts,05314,"Bonn, kreisfreie Stadt",141.06,sq km,FLC006,Size of territory,e

### 독일 산업 가치 데이터
- 연도별 산업별 생산량

In [9]:
df_RYIO_Flat = pd.read_csv('Data/region_year_industry_output_Flat.csv', sep=';')
df_RYIO_Flat.head(2)

,statistics_code,statistics_label,time_code,time_label,time,1_variable_code,1_variable_label,1_variable_attribute_code,1_variable_attribute_label,2_variable_code,2_variable_label,2_variable_attribute_code,2_variable_attribute_label,value,value_unit,value_variable_code,value_variable_label,value_q
0,82111,Regional accounts (Länder): production approach,JAHR,Year,2015,DINSG,Germany,DG,Germany,WZ08R1,"WZ2008 (Sections, aggregations): Regional acco...",WZ08-A,"Agriculture, forestry and fishing",21872,EUR mn,BWS008,Gross value added at basic prices (current pri...,e
1,82111,Regional accounts (Länder): production approach,JAHR,Year,2016,DINSG,Germany,DG,Germany,WZ08R1,"WZ2008 (Sections, aggregations): Regional acco...",WZ08-G-J,"Trade,transport.,storage,accom.and food serv.,...",591907,EUR mn,BWS008,Gross value added at basic prices (current pri...,e

In [8]:
# 컬럼 확인
df_RYIO_Flat.columns

Index(['statistics_code', 'statistics_label', 'time_code', 'time_label',
       'time', '1_variable_code', '1_variable_label',
       '1_variable_attribute_code', '1_variable_attribute_label',
       '2_variable_code', '2_variable_label', '2_variable_attribute_code',
       '2_variable_attribute_label', 'value', 'value_unit',
       'value_variable_code', 'value_variable_label', 'value_q'],
      dtype='object')

In [10]:
df_RYIO_Flat['value_variable_code'].unique()

array(['BWS008'], dtype=object)

In [14]:
df_RYIO_Flat['2_variable_label'].unique()

array(['WZ2008 (Sections, aggregations): Regional accounts'], dtype=object)